<configuration>
   <configSections>
      <sectionGroup  name="datastores">
         <section  name="GXOfflineStore" type="System.Configuration.NameValueSectionHandler" requirePermission="false"/>
         <section  name="SC3" type="System.Configuration.NameValueSectionHandler" requirePermission="false"/>
         <section  name="SOF" type="System.Configuration.NameValueSectionHandler" requirePermission="false"/>
         <section  name="Default" type="System.Configuration.NameValueSectionHandler" requirePermission="false"/>
      </sectionGroup>
      <sectionGroup  name="languages" type="System.Configuration.NameValueSectionHandler">
         <section  name="Spanish" type="System.Configuration.SingleTagSectionHandler" requirePermission="false"/>
      </sectionGroup>
      <section  name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
   </configSections>
   <datastores>
      <add  key="Connection-GXOfflineStore-DBMS" value="sqlite"/>
      <add  key="Connection-GXOfflineStore-LockTimeout" value="0"/>
      <add  key="Connection-GXOfflineStore-LockRetryCount" value="10"/>
      <add  key="Connection-GXOfflineStore-Datasource" value="82sPNmMP8O3TlpdEZk1r8E=="/>
      <add  key="Connection-GXOfflineStore-User" value="82sPNmMP8O3TlpdEZk1r8E=="/>
      <add  key="Connection-GXOfflineStore-Password" value="82sPNmMP8O3TlpdEZk1r8E=="/>
      <add  key="Connection-GXOfflineStore-DB" value="GXOfflineStoredb.sqlite"/>
      <add  key="Connection-GXOfflineStore-Schema" value="82sPNmMP8O3TlpdEZk1r8E=="/>
      <add  key="Connection-GXOfflineStore-Opts" value=";Integrated Security=yes;"/>
      <add  key="Connection-GXOfflineStore-TrnInt" value="1"/>
      <add  key="Connection-SC3-DBMS" value="sqlserver"/>
      <add  key="Connection-SC3-Port" value=""/>
      <add  key="Connection-SC3-LockTimeout" value="0"/>
      <add  key="Connection-SC3-LockRetryCount" value="10"/>
      <add  key="Connection-SC3-IsolationLevel" value="CR"/>
      <add  key="Connection-SC3-Datasource" value="ttig90nv8bTljaGXsoxBPmx+STpxwVGRw3e6ZayV4ga="/>
      <add  key="Connection-SC3-User" value="rrBk+2uyCpcvceghS1h06l=="/>
      <add  key="Connection-SC3-Password" value="C5F/vruFvRiejIqVb3P7FYi0Ud6scEzFw79+blzPKVf="/>
      <add  key="Connection-SC3-DB" value="CuentaCorrienteCliente"/>
      <add  key="Connection-SC3-Schema" value="82sPNmMP8O3TlpdEZk1r8E=="/>
      <add  key="Connection-SC3-Opts" value=";Integrated Security=no;"/>
      <add  key="Connection-SC3-TrnInt" value="1"/>
      <add  key="Connection-SOF-DBMS" value="mysql"/>
      <add  key="Connection-SOF-Port" value="3306"/>
      <add  key="Connection-SOF-LockRetryCount" value="10"/>
      <add  key="Connection-SOF-IsolationLevel" value="CR"/>
      <add  key="Connection-SOF-Datasource" value="SZe4+BRIF86QhcBMAFDGoabWCgQ0POOQ33DkXjlz938QD7pXsunHcl5PX5yGU0H1"/>
      <add  key="Connection-SOF-User" value="9ctHIpx/eAd9JFA4tmn1XFkdE+aQH9ggOQocI6Wf7MG="/>
      <add  key="Connection-SOF-Password" value="+7VO2JGEW4mu0DVZh8yn98=="/>
      <add  key="Connection-SOF-DB" value="qbe_prod_integrado"/>
      <add  key="Connection-SOF-Opts" value=";Integrated Security=no;"/>
      <add  key="Connection-SOF-TrnInt" value="1"/>
      <add  key="Connection-Default-DBMS" value="sqlserver"/>
      <add  key="Connection-Default-Port" value=""/>
      <add  key="Connection-Default-LockTimeout" value="0"/>
      <add  key="Connection-Default-LockRetryCount" value="10"/>
      <add  key="Connection-Default-IsolationLevel" value="CR"/>
      <add  key="Connection-Default-Datasource" value="Y08nfswPHitTKWeJ8Sdh/3++51vljDXOE60yu6Ame1pRIdtWQDOsVvR0sTk1euqtrEPnSG0vydIzoUjzK9JyW102yng6xvB/qn79Pu/cu+H="/>
      <add  key="Connection-Default-User" value="rrBk+2uyCpcvceghS1h06l=="/>
      <add  key="Connection-Default-Password" value="BVrIPqMe0cRB0eQ6mkrAyBnMQaDsy1XQDBVqc6/KCwf="/>
      <add  key="Connection-Default-DB" value="PortalCorredores"/>
      <add  key="Connection-Default-Schema" value="82sPNmMP8O3TlpdEZk1r8E=="/>
      <add  key="Connection-Default-Opts" value=";Integrated Security=no;"/>
      <add  key="Connection-Default-TrnInt" value="1"/>
   </datastores>
   <appSettings>
      <add  key="MODEL_NUM" value="7"/>
      <add  key="GENERATOR_NUM" value="15"/>
      <add  key="LDAP_LOGIN" value="0"/>
      <add  key="LDAP_HOST" value=""/>
      <add  key="LDAP_AUTH" value="simple"/>
      <add  key="LDAP_PRINCIPAL" value=""/>
      <add  key="LDAP_USERID" value="0"/>
      <add  key="SMTP_HOST" value=""/>
      <add  key="NAME_SPACE" value="default"/>
      <add  key="NAME_HOST" value=""/>
      <add  key="CORBA_SERVER_NAME" value=""/>
      <add  key="DCOM_GUID" value=""/>
      <add  key="HELP_BASEURL" value=""/>
      <add  key="PREFERRED_UI" value="BEST"/>
      <add  key="JFC_LF" value="NATIVE"/>
      <add  key="KEY_REFRESH" value="5"/>
      <add  key="MDI_FORMS" value="1"/>
      <add  key="REMOTE_CALLS" value="NEVER"/>
      <add  key="IMAGE_SUBST" value="0"/>
      <add  key="CS_CONNECT" value="First"/>
      <add  key="CS_REORG" value="0"/>
      <add  key="CS_REORGJAVA" value="1"/>
      <add  key="REORG_MAX_THREADS" value="1"/>
      <add  key="SUBFILE_ORDER" value="Y"/>
      <add  key="PACKAGE" value=""/>
      <add  key="COMPRESS_HTML" value="1"/>
      <add  key="WEB_IMAGE_DIR" value=""/>
      <add  key="HTTP_BACKEND_URL" value=""/>
      <add  key="WEB_STATIC_DIR" value=""/>
      <add  key="ORQ_CLIENT_URL" value=""/>
      <add  key="ORQ_SERVER_DIR" value=""/>
      <add  key="ODBC_CALLS" value="0"/>
      <add  key="Namespace1" value="default"/>
      <add  key="AUTOCENTER" value="No"/>
      <add  key="LoginInServer" value="1"/>
      <add  key="GXDB_LOCATION" value=""/>
      <add  key="JDBC_LOG" value=""/>
      <add  key="JDBCLogEnabled" value="0"/>
      <add  key="HELP_MODE" value="WINHTML"/>
      <add  key="CALENDAR" value="1"/>
      <add  key="CALC" value="1"/>
      <add  key="SHOW_STATUS" value="1"/>
      <add  key="FIELD_EXIT" value="Tab"/>
      <add  key="ESCAPE_FUNCTION" value="Exit_form"/>
      <add  key="FC_READONLY" value="ORIGINAL"/>
      <add  key="TIME_FMT" value="24"/>
      <add  key="YEAR_LIMIT" value="40"/>
      <add  key="VER_STAMP" value="20240703.192500"/>
      <add  key="CS_BLOB_PATH" value="PublicTempStorage"/>
      <add  key="TMPMEDIA_DIR" value="PrivateTempStorage"/>
      <add  key="PRINT_LAYOUT_METADATA_DIR" value="LayoutMetadata"/>
      <add  key="StorageTimeZone" value="1"/>
      <add  key="LOGIN_AS_USERID" value="0"/>
      <add  key="LANGUAGE" value="spa"/>
      <add  key="LANG_NAME" value="Spanish"/>
      <add  key="DECIMAL_POINT" value=","/>
      <add  key="DATE_FMT" value="DMY"/>
      <add  key="CTOD_DATE_FMT" value="L"/>
      <add  key="Culture" value="es-ES"/>
      <add  key="Theme" value="WorkWithPlusTheme"/>
      <add  key="TimeInUtcBug" value="y"/>
      <add  key="EnableIntegratedSecurity" value="0"/>
      <add  key="AppMainNamespace" value="GeneXus.Programs"/>
      <add  key="DateFormat" value="DMY"/>
      <add  key="YearLimit" value="1940"/>
      <add  key="TimeAmPmFormat" value="24"/>
      <add  key="ENABLE_MANAGEMENT" value="0"/>
      <add  key="MAX_CURSOR" value="100"/>
      <add  key="STATIC_CONTENT" value=""/>
      <add  key="GX_BUILD_NUMBER" value="142546"/>
      <add  key="CACHE_CONTENT_EXPIRATION" value="36"/>
      <add  key="FTP_DEFAULT_USER" value="Zd8hx1OPJaolo5nN5s4nmc=="/>
      <add  key="FTP_DEFAULT_PASSWORD" value="kvwmxbHzjMA66dQNAHRlhn=="/>
      <add  key="DataStore1" value="GXOfflineStore"/>
      <add  key="DataStore2" value="SC3"/>
      <add  key="DataStore3" value="SOF"/>
      <add  key="DataStore4" value="Default"/>
      <add  key="DataStore-Count" value="4"/>
   </appSettings>
   <languages >
      <Spanish  code="spa" time_fmt="24" decimal_point="," thousand_sep="." date_fmt="DMY" culture="es-ES"/>
   </languages>
   <log4net  configSource="log.console.config"/>
</configuration>
