<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
    <sectionGroup name="languages" type="System.Configuration.NameValueSectionHandler">
      <section name="Spanish" type="System.Configuration.SingleTagSectionHandler" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppMainNamespace" value="GeneXus.Programs" />
    <add key="DataStore1" value="GXOfflineStore" />
    <add key="DataStore2" value="SC3" />
    <add key="DataStore3" value="SOF" />
    <add key="DataStore4" value="Default" />
    <add key="DataStore-Count" value="4" />
    <add key="Connection-GXOfflineStore-DBMS" value="sqlite" />
    <add key="Connection-GXOfflineStore-LockTimeout" value="0" />
    <add key="Connection-GXOfflineStore-LockRetryCount" value="10" />
    <add key="Connection-GXOfflineStore-Datasource" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-User" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-Password" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-DB" value="GXOfflineStoredb.sqlite" />
    <add key="Connection-GXOfflineStore-Schema" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-GXOfflineStore-Opts" value=";Integrated Security=yes;" />
    <add key="Connection-GXOfflineStore-TrnInt" value="1" />
    <add key="Connection-SC3-DBMS" value="sqlserver" />
    <add key="Connection-SC3-Port" value="" />
    <add key="Connection-SC3-LockTimeout" value="0" />
    <add key="Connection-SC3-LockRetryCount" value="10" />
    <add key="Connection-SC3-IsolationLevel" value="CR" />
    <add key="Connection-SC3-Datasource" value="ttig90nv8bTljaGXsoxBPmx+STpxwVGRw3e6ZayV4ga=" />
    <add key="Connection-SC3-User" value="rrBk+2uyCpcvceghS1h06l==" />
    <add key="Connection-SC3-Password" value="C5F/vruFvRiejIqVb3P7FYi0Ud6scEzFw79+blzPKVf=" />
    <add key="Connection-SC3-DB" value="CuentaCorrienteCliente" />
    <add key="Connection-SC3-Schema" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-SC3-Opts" value=";Integrated Security=no;" />
    <add key="Connection-SC3-TrnInt" value="1" />
    <add key="Connection-SOF-DBMS" value="mysql" />
    <add key="Connection-SOF-Port" value="3306" />
    <add key="Connection-SOF-LockRetryCount" value="10" />
    <add key="Connection-SOF-IsolationLevel" value="CR" />
    <add key="Connection-SOF-Datasource" value="SZe4+BRIF86QhcBMAFDGoabWCgQ0POOQ33DkXjlz938QD7pXsunHcl5PX5yGU0H1" />
    <add key="Connection-SOF-User" value="9ctHIpx/eAd9JFA4tmn1XFkdE+aQH9ggOQocI6Wf7MG=" />
    <add key="Connection-SOF-Password" value="+7VO2JGEW4mu0DVZh8yn98==" />
    <add key="Connection-SOF-DB" value="qbe_prod_integrado" />
    <add key="Connection-SOF-Opts" value=";Integrated Security=no;" />
    <add key="Connection-SOF-TrnInt" value="1" />
    <add key="Connection-Default-DBMS" value="sqlserver" />
    <add key="Connection-Default-Port" value="" />
    <add key="Connection-Default-LockTimeout" value="0" />
    <add key="Connection-Default-LockRetryCount" value="10" />
    <add key="Connection-Default-IsolationLevel" value="CR" />
    <add key="Connection-Default-Datasource" value="Y08nfswPHitTKWeJ8Sdh/3++51vljDXOE60yu6Ame1pRIdtWQDOsVvR0sTk1euqtrEPnSG0vydIzoUjzK9JyW102yng6xvB/qn79Pu/cu+H=" />
    <add key="Connection-Default-User" value="rrBk+2uyCpcvceghS1h06l==" />
    <add key="Connection-Default-Password" value="BVrIPqMe0cRB0eQ6mkrAyBnMQaDsy1XQDBVqc6/KCwf=" />
    <add key="Connection-Default-DB" value="PortalCorredores" />
    <add key="Connection-Default-Schema" value="82sPNmMP8O3TlpdEZk1r8E==" />
    <add key="Connection-Default-Opts" value=";Integrated Security=no;" />
    <add key="Connection-Default-TrnInt" value="1" />
    <add key="DateFormat" value="DMY" />
    <add key="YearLimit" value="1940" />
    <add key="TimeAmPmFormat" value="24" />
    <add key="VER_STAMP" value="20240703.192500" />
    <add key="CS_BLOB_PATH" value="PublicTempStorage" />
    <add key="TMPMEDIA_DIR" value="PrivateTempStorage" />
    <add key="PRINT_LAYOUT_METADATA_DIR" value="LayoutMetadata" />
    <add key="StorageTimeZone" value="1" />
    <add key="LOGIN_AS_USERID" value="0" />
    <add key="LANGUAGE" value="spa" />
    <add key="LANG_NAME" value="Spanish" />
    <add key="DECIMAL_POINT" value="," />
    <add key="DATE_FMT" value="DMY" />
    <add key="CTOD_DATE_FMT" value="L" />
    <add key="Culture" value="es-ES" />
    <add key="Theme" value="WorkWithPlusTheme" />
    <add key="TimeInUtcBug" value="y" />
    <add key="EnableIntegratedSecurity" value="0" />
    <add key="MAX_CURSOR" value="100" />
    <add key="STATIC_CONTENT" value="" />
    <add key="GX_BUILD_NUMBER" value="142546" />
    <add key="CACHE_CONTENT_EXPIRATION" value="36" />
    <add key="FTP_DEFAULT_USER" value="Zd8hx1OPJaolo5nN5s4nmc==" />
    <add key="FTP_DEFAULT_PASSWORD" value="kvwmxbHzjMA66dQNAHRlhn==" />
    <add key="ENABLE_MANAGEMENT" value="0" />
    <add key="COMPRESS_HTML" value="1" />
    <add key="IE_COMPATIBILITY_VIEW" value="EmulateIE7" />
    <add key="DocumentType" value="HTML5" />
    <add key="EXPOSE_METADATA" value="1" />
    <add key="SMART_CACHING" value="1" />
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
    <add key="CACHE_INVALIDATION_TOKEN" value="20258417481992" />
  </appSettings>
  <languages>
    <Spanish code="spa" time_fmt="24" decimal_point="," thousand_sep="." date_fmt="DMY" culture="es-ES" />
  </languages>
  <log4net configSource="log.config" />
  <system.web>
    <customErrors mode="Off" />
    <trace enabled="true" requestLimit="100" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6" requestPathInvalidCharacters="" />
    <compilation optimizeCompilations="true">
      <assemblies>
        <remove assembly="GxClasses_16.0.7" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <client>
      <endpoint name="GeneXus.Programs.SdtWS_AmazonClient" address="http://ec2-52-53-120-84.us-west-1.compute.amazonaws.com/WS_Amazon/WS_Amazon.asmx" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ISdtWS_Amazon" />
    </client>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service name="GeneXus.Programs.polizas_dv_endososgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.polizas_dv_endososgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.polizas_dv_endososgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.polizas_dvgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.polizas_dvgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.polizas_dvgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.cuotas_dvgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.cuotas_dvgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.cuotas_dvgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.mailattachmentwcgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.mailattachmentwcgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.mailattachmentwcgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.mailwwgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.mailwwgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.mailwwgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.ws_encrypt_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ws_encrypt_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ws_encrypt_services" />
      </service>
      <service name="GeneXus.Programs.prcobtenercontratantefiltro_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenercontratantefiltro_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenercontratantefiltro_services" />
      </service>
      <service name="GeneXus.Programs.prcobtenercontratantexcorredor_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenercontratantexcorredor_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenercontratantexcorredor_services" />
      </service>
      <service name="GeneXus.Programs.prcobtenerurlpoliza_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenerurlpoliza_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenerurlpoliza_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secusercomponentwwgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secusercomponentwwgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secusercomponentwwgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.prcobtenerrutcorredorxid_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenerrutcorredorxid_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenerrutcorredorxid_services" />
      </service>
      <service name="GeneXus.Programs.prcobtenerlinkpolizasd_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenerlinkpolizasd_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcobtenerlinkpolizasd_services" />
      </service>
      <service name="GeneXus.Programs.prcloginsd_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcloginsd_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.prcloginsd_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdplistlocationssetmap_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdplistlocationssetmap_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdplistlocationssetmap_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpsamplechartdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpsamplechartdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpsamplechartdata_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionset_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionset_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionset_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionnumset_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionnumset_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionnumset_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionnumget_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionnumget_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionnumget_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionget_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionget_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpwebserversessionget_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpmdffieldsrequiredchek_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpmdffieldsrequiredchek_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpmdffieldsrequiredchek_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpgetunicodefromhex_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpgetunicodefromhex_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpgetunicodefromhex_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpgetdecimalfromhex_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpgetdecimalfromhex_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpgetdecimalfromhex_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpfieldstojson_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpfieldstojson_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpfieldstojson_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpcalendarfilterevents_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpcalendarfilterevents_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpcalendarfilterevents_services" />
      </service>
      <service name="GeneXus.Programs.directionsservicerequest_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.directionsservicerequest_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.directionsservicerequest_services" />
      </service>
      <service name="GeneXus.Programs.gxonpendingeventfailed_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gxonpendingeventfailed_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gxonpendingeventfailed_services" />
      </service>
      <service name="GeneXus.Programs.gxbeforeeventreplicator_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gxbeforeeventreplicator_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gxbeforeeventreplicator_services" />
      </service>
      <service name="GeneXus.Programs.gxaftereventreplicator_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gxaftereventreplicator_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.gxaftereventreplicator_services" />
      </service>
      <service name="GeneXus.Programs.notificationsregistrationhandler_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.notificationsregistrationhandler_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.notificationsregistrationhandler_services" />
      </service>
      <service name="GeneXus.Programs.ws_desmarcar_cargapoliza_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ws_desmarcar_cargapoliza_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ws_desmarcar_cargapoliza_services" />
      </service>
      <service name="GeneXus.Programs.ws_corredores_cargapoliza_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ws_corredores_cargapoliza_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.ws_corredores_cargapoliza_services" />
      </service>
      <service name="GeneXus.Programs.seleccionarcorredorgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.seleccionarcorredorgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.seleccionarcorredorgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.usuariocorredorgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.usuariocorredorgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.usuariocorredorgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secuserwwgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secuserwwgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secuserwwgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secrolewwgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secrolewwgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secrolewwgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secrolesecfunctionalityrolewcgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secrolesecfunctionalityrolewcgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secrolesecfunctionalityrolewcgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secfunctionalitywwgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secfunctionalitywwgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secfunctionalitywwgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secfunctionalitysecfunctionalityrolewcgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secfunctionalitysecfunctionalityrolewcgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secfunctionalitysecfunctionalityrolewcgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.secfunctionalityfilterparentwwgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secfunctionalityfilterparentwwgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.secfunctionalityfilterparentwwgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.polizasgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.polizasgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.polizasgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wcprimasgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wcprimasgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wcprimasgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.comisionesgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.comisionesgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.comisionesgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.wccuotasgetfilterdata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wccuotasgetfilterdata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wccuotasgetfilterdata_services" />
      </service>
      <service name="GeneXus.Programs.logtxt_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.logtxt_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.logtxt_services" />
      </service>
      <service name="GeneXus.Programs.dpcontratantescorredor_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.dpcontratantescorredor_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.dpcontratantescorredor_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.sdpcategorylistdp_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpcategorylistdp_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.sdpcategorylistdp_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.gethomesampledataservice_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.gethomesampledataservice_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GeneXus.Programs.dpusocorredor_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.dpusocorredor_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.dpusocorredor_services" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.getdetalleplanpagodocmonto_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.getdetalleplanpagodocmonto_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.getdetalleplanpagoestadogrid_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.getdetalleplanpagoestadogrid_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.getdetalleplanpagoestado_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.getdetalleplanpagoestado_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GeneXus.Programs.wwpbaseobjects.gethomesamplenamevaluedata_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.wwpbaseobjects.gethomesamplenamevaluedata_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GeneXus.Programs.portalcorredorinicio_level_detail_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredorinicio_level_detail_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredorinicio_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.portalcorredorpolizas_level_detail_datagrid_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredorpolizas_level_detail_datagrid_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredorpolizas_level_detail_datagrid_services" />
      </service>
      <service name="GeneXus.Programs.portalcorredorcuotas_level_detail_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredorcuotas_level_detail_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredorcuotas_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.cuotassd_level_detail_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.cuotassd_level_detail_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.cuotassd_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.cuotassd_level_detail_datagrid_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.cuotassd_level_detail_datagrid_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.cuotassd_level_detail_datagrid_services" />
      </service>
      <service name="GeneXus.Programs.sdplusbaseobjects.dynamicformsample_level_detail_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.dynamicformsample_level_detail_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.sdplusbaseobjects.dynamicformsample_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.portalcorredoresdashboard_level_detail_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredoresdashboard_level_detail_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredoresdashboard_level_detail_services" />
      </service>
      <service name="GeneXus.Programs.portalcorredor_level_detail_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredor_level_detail_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Programs.portalcorredor_level_detail_services" />
      </service>
      <service name="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" behaviorConfiguration="ServiceDefaultBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" />
        <endpoint address="mex" binding="mexHttpBinding" contract="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" />
        <endpoint address="rest" behaviorConfiguration="ServiceRestBehavior" binding="webHttpBinding" bindingConfiguration="CustomBinding" contract="GeneXus.Core.genexus.sd.synchronization.offlineeventreplicator_services" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="customWebHttp" type="GeneXus.Utils.CustomHttpBehaviorExtensionElement, GxClasses, Version=11.0.0.0, Culture=neutral, PublicKeyToken=6f5bf81c27b6b8aa" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceRestBehavior">
          <customWebHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceDefaultBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="10485760">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="CustomBinding" maxReceivedMessageSize="10485760">
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
          <readerQuotas maxStringContentLength="10485760" />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="GXObject" stopProcessing="true">
          <match url="^GXObject$" />
          <action type="Rewrite" url="GXObject.aspx" />
        </rule>
        <rule name="gx_valid_service" stopProcessing="true">
          <match url="^gx_valid_service(.*)$" />
          <action type="Rewrite" url="gx_valid_service.aspx{R:1}" />
        </rule>
        <rule name="gxmulticall" stopProcessing="true">
          <match url="^gxmulticall(.*)$" />
          <action type="Rewrite" url="gxmulticall.aspx{R:1}" />
        </rule>
        <rule name="metadata" stopProcessing="true">
          <match url="^rest/metadata/(.*).json$" />
          <action type="Rewrite" url="gxmetadata/{R:1}.json" />
        </rule>
        <rule name="metadataList" stopProcessing="true">
          <match url="^rest/metadata$" />
          <action type="Rewrite" url="gxmetadata/gx_entity_list.json" />
        </rule>
        <rule name="metadataImg" stopProcessing="true">
          <match url="^rest/metadata/images/(.*)$" />
          <action type="Rewrite" url="gxmetadata/images/{R:1}" />
        </rule>
        <rule name="metadataJson" stopProcessing="true">
          <match url="^rest/metadata/(.*)$" />
          <action type="Rewrite" url="gxmetadata/{R:1}.json" />
        </rule>
        <rule name="GX REST Services" stopProcessing="true">
          <match url="^rest/((?:/?[\w \.-]+)+)/?(.*)$" />
          <action type="Rewrite" url="{R:1}.svc/rest/{R:2}" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="Redirect">
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="403" path="https://integration.unnio.cl/" responseMode="Redirect" />
      <error statusCode="404" path="https://integration.unnio.cl/" responseMode="Redirect" />
      <error statusCode="500" path="https://integration.unnio.cl/" responseMode="Redirect" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".tmp" />
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".tmp" mimeType="image/jpeg" />
      <mimeMap fileExtension=".otf" mimeType="font/opentype" />
      <mimeMap fileExtension=".gxsd" mimeType="application/zip" />
      <remove fileExtension=".cod" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".cod" mimeType="application/vnd.rim.cod" />
      <mimeMap fileExtension=".jad" mimeType="text/vnd.sun.j2me.app-descriptor" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".caf" mimeType="audio/x-caf" />
      <mimeMap fileExtension=".yaml" mimeType="text/yaml" />
      <mimeMap fileExtension=".usdz" mimeType="model/vnd.pixar.usd" />
      <mimeMap fileExtension=".sfb" mimeType="model/sfb" />
      <mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
    </staticContent>
    <handlers>
      <add name="QueryViewer handler for agxpl_*.aspx" verb="*" path="agxpl_*.aspx" type="QueryViewer.Services.HttpHandlerFactory, QueryViewer.Services.HttpHandlerFactory" />
      <add name="GeneXus WebSocket Handler" verb="*" path="gxwebsocket.svc" type="GeneXus.Http.WSHttpHandler,gxwebsocket" />
      <add name="GeneXus.HttpHandlerFactory.HandlerFactory" verb="*" path="*.aspx" type="GeneXus.HttpHandlerFactory.HandlerFactory,gxclasses" />
      <remove name="WebDAV" />
    </handlers>
    <modules>
      <add name="GXStaticContentCache" type="GeneXus.Http.HttpModules.GXStaticCacheModule,gxclasses" />
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doStaticCompression="true" />
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="PrivateTempStorage" />
          <add segment="private" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="PublicTempStorage">
    <system.webServer>
      <handlers>
        <clear />
        <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      </handlers>
    </system.webServer>
  </location>
</configuration>