files:
  "c:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\02createfolder.bat":
    content: |
      del "c:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\02createfolder.bat.bak*" >nul
      if not exist "c:\inetpub\wwwroot\logs" mkdir c:\inetpub\wwwroot\logs
      if not exist "c:\inetpub\wwwroot\PublicTempStorage" mkdir c:\inetpub\wwwroot\PublicTempStorage
      if not exist "c:\inetpub\wwwroot\PrivateTempStorage" mkdir c:\inetpub\wwwroot\PrivateTempStorage