files:
  "c:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\99folderacls.bat":
    content: |
      del "c:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\99folderacls.bat.bak*" >nul
      icacls c:\inetpub\wwwroot\Logs\ /grant:r "IIS APPPOOL\DefaultAppPool:(OI)(CI)(M,RX)" /t /q
      icacls c:\inetpub\wwwroot\Logs\ /grant:r "NT AUTHORITY\NetworkService:(OI)(CI)(M,RX)" /t /q
      icacls c:\inetpub\wwwroot\PublicTempStorage\ /grant:r "IIS APPPOOL\DefaultAppPool:(OI)(CI)(M,RX)" /t /q
      icacls c:\inetpub\wwwroot\PublicTempStorage\ /grant:r "NT AUTHORITY\NetworkService:(OI)(CI)(M,RX)" /t /q
      icacls c:\inetpub\wwwroot\PrivateTempStorage\ /grant:r "IIS APPPOOL\DefaultAppPool:(OI)(CI)(M,RX)" /t /q
      icacls c:\inetpub\wwwroot\PrivateTempStorage\ /grant:r "NT AUTHORITY\NetworkService:(OI)(CI)(M,RX)" /t /q