files:
  "c:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\04_enable32app.bat":
    content: |
      del \"c:\\Program Files\\Amazon\\ElasticBeanstalk\\hooks\\appdeploy\\post\\04_enable32app.bat.bak*\" >nul
      C:\Windows\system32\inetsrv\appcmd.exe set apppool DefaultAppPool /enable32BitAppOnWin64:true /commit:apphost